

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(109, 20, 20);
    font-family: 'Arial', sans-serif;
    
    color: #333;
    margin: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:white;
    font-size: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color:white;
}

/* Estilo para agregar un poco de festividad */


/* Estilo para el contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
